# Build output
.build/
build/
dist/

# Node modules
node_modules/

# Environment variables
.env
.env.local

# Logs
*.log
npm-debug.log*
docs/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

.DS_Store
logs/
.serverless/